/* fonts */
@font-face {
  font-family: "Gilroy-Bold";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2"),
    url("../fonts/Gilroy-Bold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Gilroy-Medium";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/Gilroy-Medium.woff2") format("woff2"),
    url("../fonts/Gilroy-Medium.woff") format("woff");
  font-display: swap;
}

/* vars */

%gilroy-700 {
  font-family: "Gilroy-Bold";
  font-weight: 700;
}

%gilroy-500 {
  font-family: "Gilroy-Medium";
  font-weight: 500;
}

$black: #070707;
$grey: #828282;
$white: #ffffff;

/* reset */
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul,
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

/* main */
body {
  @extend %gilroy-500;
  font-size: 18px;
  line-height: 22px;
  color: $black;
}

.container {
  max-width: 972px;
  padding: 0 15px;
  margin: 0 auto;
}

.title {
  font-size: 34px;
  line-height: 42px;
  @extend %gilroy-700;
  text-align: center;
}

.br {
  display: block;
}

/* header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 999;
}

.open-btn {
  border: none;
  display: none;
  padding: 0;
  background-color: #fff;
  cursor: pointer;
  height: 20px;
}

.menu {
  padding: 33px 0 32px;
  border-bottom: 1px solid $grey;
  transform: matrix(1, 0, 0, 1, 0, 0);

  &__btn-close {
    border: none;
    display: none;
    padding: 0;
    background-color: #fff;
    cursor: pointer;
  }


  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__list-link {
    @extend %gilroy-700;
    color: $grey;
  }

  &__list-link:hover {
    color: $black;
  }

  &__language {
    display: none;
    font-size: 34px;
    line-height: 42px;
    color: $grey;
    transform: rotate(90deg);
    @extend %gilroy-700;
  }

  &__language-br {
    display: inline-block;
  }

  &__language-ru,
  &__language-eng {
    color: $grey;
  }

  &__language-ru:hover,
  &__language-eng:hover {
    color: $black;
  }

  &__language--active {
    color: $black;
  }
}

/* top */

.top {
  padding: 128px 0 104px;

  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }

  &__title {
    font-size: 47px;
    line-height: 59px;
    max-width: 123px;
    @extend %gilroy-700;
  }

  &__language {
    transform: rotate(270deg);
    font-size: 16px;
    line-height: 20px;
    @extend %gilroy-700;
  }

  &__language-br {
    display: inline-block;
  }

  &__language-ru,
  &__language-eng {
    color: $grey;
  }

  &__language-ru:hover,
  &__language-eng:hover {
    color: $black;
  }

  &__language--active {
    color: $black;
  }
}

/* about */
.about {
  padding: 120px 0 62px;
  text-align: center;
  background-color: #F6F6F6;

  &__title {
    margin-bottom: 18px;
  }

  &__text {
    max-width: 485px;
    margin: 0 auto;
    margin-bottom: 45px;
  }
}

/* skills */

.skills {
  padding: 90px 0 110px;
  text-align: center;

  &__title {
    margin-bottom: 69px;
  }

  &__text {
    margin-bottom: 84px;
  }

  &__items {
    display: flex;
    justify-content: space-between;
    gap: 80px 15px;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
  }

  &__item {
    max-width: 168px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 224px;
  }

  &__item-icon {
    margin: 0 auto;
    margin-bottom: 23px;
  }

  &__item-text {
    margin-bottom: 40px;
  }
}

/* portfolio */

.portfolio {
  padding: 112px 0 96px;
  text-align: center;
  background-color: #F6F6F6;

  &__title {
    margin-bottom: 47px;
  }


  &__item-img {
    margin-bottom: 45px;
  }

  &__item-link {
    display: inline-block;
    text-decoration-line: underline;
    color: $black;
    margin-bottom: 100px;

  }

  &__item {
    &:last-child {
      .portfolio__item-link {
        margin-bottom: 0;
      }
    }
  }
}

/* contacts */

.contacts {
  padding: 114px 0 123px;
  text-align: center;

  &__title {
    margin-bottom: 20px;
  }

  &__text {
    max-width: 275px;
    margin: 0 auto 30px;
  }

  &__btn {
    display: inline-block;
    padding: 13px 30px;
    border: 2px solid $black;
    background-color: $black;
    color: $white;
    border-radius: 25px;
    margin-bottom: 85px;
    transition: all 1s;
  }

  &__btn:hover {
    background-color: $white;
    color: $black;
  }

  &__social-list {
    display: flex;
    justify-content: center;
    gap: 60px;
  }


}

ul.contacts__social-list {
  margin-bottom: 45px;
}

/* @media */

@media (max-width: 480px) {
  .header.header--active {
    .menu {
      transform: translateX(0);
    }
  }

  .open-btn {
    display: block;
    margin-left: auto;
    position: absolute;
    top: 75px;
    right: 15px;
  }

  .menu {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 100vh;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(2, auto);
    grid-template-areas: "list button"
      "list language";
    padding: 65px 30px 30px;
    gap: 10px;
    transition: all 0.5s;
    transform: translateX(-200%);
    background-color: #fff;
    z-index: 99;

    &__btn-close {
      display: block;
      margin-left: auto;
      grid-area: button;
      align-self: start;
      height: 42px;
      transition: all 0.5s;

      &:hover {
        svg {
          rect {
            fill: #000;
          }
        }
      }
    }

    &__list {
      grid-area: list;
      flex-direction: column;
      justify-content: start;
      gap: 30px;
    }

    &__list-link {
      font-size: 34px;
      line-height: 42px;
    }

    &__language {
      display: block;
      grid-area: language;
      transform: none;
      writing-mode: vertical-rl;
      display: flex;
      justify-content: flex-end;
      gap: 5px;
    }
  }

  .top {
    padding: 65px 0 80px;

    &__wrap {
      justify-content: start;
      gap: 30px;
    }

    &__language {
      display: none;
    }
  }

  .about {
    padding: 80px 0 50px;

    &__text {
      margin-bottom: 25px;
    }
  }

  .skills {
    padding: 80px 0 100px;

    &__items {
      justify-content: center;
    }
  }

  .portfolio {
    padding: 80px 0;
  }
  .contacts {
  padding: 80px 0 90px;}
}

@media (max-width: 375px) {
  .top {
    &__wrap {
      flex-direction: column;
      gap: 23px;
      align-items: start;
      margin-bottom: 36px;
    }
  }
}